<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">
        <a class="navbar-brand" href="#"> 
            <img src="assets/img/idonate.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            BloodBank Management
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
                <li class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item" routerLinkActive=" active">
                    <a class="nav-link" routerLink="regions">Region</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="banks">Banks</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="donors">Donors</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="#">Donations</a>
                </li>
            </ul>
                 <!-- <ul class="nav justify-content-end">
                      <li class="nav-item">
                          <a class="nav-link" href="#">LOGIN</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">SIGNUP</a>
               </li>
               </ul> -->
        </div>
    </div>
</nav>

<div class="container">
        <router-outlet></router-outlet>
</div> 

<br>
<nav class="container">
    <!-- <div class="content">
        <img src="assets/img/blood.jpg" class="img-fluid" alt="Responsive image">
</div> -->








<!-- <nav class="navbar fixed-bottom navbar-light bg-danger">
<a class="navbar-brand">
</a>
</nav> -->