
<div class="row">
  <div class="col">
      <button class="btn btn-danger float-right mr-auto mt-2">New Banks</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered mr-3 mt-3" >
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Location</th>
              <th>RegionId</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let b of banks; let i = index">
                <td>{{i + 1}}.</td>
                <td>{{b.Name}}</td>
                <td>{{b.Phone}}</td>
                <td>{{b.Location}}</td>
                <td>{{b.RegionId}}</td>
              </tr>
            </tbody>
    </table>
  </div>
</div>
