<div class="row"> 
<div class="col-8 offset-2">
<div class="card mt-5">
<div class="card-body">
<div class="card-title h4">Edi Regions</div>
<form [formGroup]="form" (ngSubmit)="save()">

  <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="Name">
  </div>

  <button type="submit" class="btn btn-success float-right mx-2">Save</button>
  <button type="type" class="btn btn-sucess float-right mx-2">Cancel</button>
</form>
</div>
</div>
</div>
</div>





 
 
