
<div class="row">
  <div class="col">
      <button class="btn btn-danger float-right">New Donors</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Sex</th>
              <th>Phone</th>
              <th>Blood Type</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let dr of donors; let i = index">
                <td>{{i + 1}}.</td>
                <td>{{dr.Name}}</td>
                <td>{{dr.DateOfBirth}}</td>
                <td>{{dr.Sex}}</td>
                <td>{{dr.Phone}}</td>
                <td>{{dr.BloodType}}</td>
              </tr>
            </tbody>
    </table>
  </div>
</div>
